html {
    background-color: rgba(27, 38, 54, 1);
    text-align: center;
    color: white;
}

@font-face {
    font-family: "Fanpaixiaogouriji";
    font-style: normal;
    font-weight: 400;
    src: url("./assets/fonts/Fanpaixiaogouriji-Regular-2.ttf") format("truetype");
}

body {
    margin: 0;
    color: white;
    font-family: "Fanpaixiaogouriji", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

#app {
    height: 100vh;
    text-align: center;
}
