@import './variables.css';

@font-face {
	font-family: 'Fanpaixiaogouriji';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url('../assets/fonts/Fanpaixiaogouriji-Regular-2.ttf') format('truetype');
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

html {
	background-color: var(--color-bg);
	text-align: center;
	color: white;
}

body {
	font-family: var(--font-family);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow: hidden;
	margin: 0;
	color: white;
}

input,
textarea,
select,
button {
	font-family: var(--font-family);
}

#app {
	height: 100vh;
	text-align: center;
}
